In [37]:
import pandas as pd
import numpy as np
import plotly.express as px

# impute missing values with iterative imputer 
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [41]:
products_data = pd.read_excel('./data/Account Products.xlsx', sheet_name='web_traffic_accounts')
products_data.Date = pd.to_datetime(products_data.Date)
products_data.set_index('Date', inplace=True)
products_data.head()

,abanca.com/es/cuentas/cuenta-online,n26.com/es-es/cuenta-sin-comisiones,bancsabadell.com/cuenta-online,ing.es/cuenta-nocuenta-ing,bbva.es/personas/productos/cuentas/cuenta-online-sin-comisiones.html,revolut.com/es-ES/a-radically-better-account/,openbank.es/cuenta-ahorro-bienvenida,myinvestor.es/cuentas-tarjetas/cuentas,n26.com/es-es/cuenta-ahorro,bankinter.com/banca/cuentas-tarjetas/cuentas/cuenta-nomina,ing.es/cuenta-nocuenta-ing.1,evobanco.com/cuenta-inteligente,bancosantander.es/particulares/cuentas-tarjetas/cuentas-corrientes/cuenta-online-sin-comisiones
Date,,,,,,,,,,,,,
2021-12-01,15202.983835,6664.368911,NaN,NaN,45449.486787,1343.418328,NaN,5319.608623,NaN,8733.560835,NaN,5055.542564,22325.885971
2022-01-01,42183.913207,5310.177360,NaN,NaN,38306.464983,1531.016801,NaN,6577.851993,NaN,11410.593443,NaN,4539.012047,28331.245044
2022-02-01,34498.153115,5547.588971,NaN,NaN,40978.325821,1304.591257,NaN,4031.716960,NaN,8891.661053,NaN,6049.457905,23798.819170
2022-03-01,34546.319021,4900.271300,NaN,NaN,43970.545627,1105.180575,NaN,4941.009311,NaN,7446.925144,NaN,9826.193608,24808.561729
2022-04-01,40508.288420,4909.581023,NaN,NaN,40782.451956,1020.968713,NaN,5774.734455,NaN,10285.861726,NaN,5028.236254,24739.758729

In [42]:
imputer = IterativeImputer(max_iter=10, random_state=0)
imputed_data = imputer.fit_transform(products_data)
imputed_data = pd.DataFrame(imputed_data, columns=products_data.columns, index=products_data.index)
products_data = imputed_data.copy()
products_data.head()

,abanca.com/es/cuentas/cuenta-online,n26.com/es-es/cuenta-sin-comisiones,bancsabadell.com/cuenta-online,ing.es/cuenta-nocuenta-ing,bbva.es/personas/productos/cuentas/cuenta-online-sin-comisiones.html,revolut.com/es-ES/a-radically-better-account/,openbank.es/cuenta-ahorro-bienvenida,myinvestor.es/cuentas-tarjetas/cuentas,n26.com/es-es/cuenta-ahorro,bankinter.com/banca/cuentas-tarjetas/cuentas/cuenta-nomina,ing.es/cuenta-nocuenta-ing.1,evobanco.com/cuenta-inteligente,bancosantander.es/particulares/cuentas-tarjetas/cuentas-corrientes/cuenta-online-sin-comisiones
Date,,,,,,,,,,,,,
2021-12-01,15202.983835,6664.368911,20611.877467,24449.393654,45449.486787,1343.418328,15254.582228,5319.608623,15239.190071,8733.560835,24448.706786,5055.542564,22325.885971
2022-01-01,42183.913207,5310.177360,28890.415605,24463.625737,38306.464983,1531.016801,17359.852958,6577.851993,11468.598706,11410.593443,24463.492621,4539.012047,28331.245044
2022-02-01,34498.153115,5547.588971,24924.681184,24456.839455,40978.325821,1304.591257,16944.054696,4031.716960,12928.637519,8891.661053,24456.441669,6049.457905,23798.819170
2022-03-01,34546.319021,4900.271300,23968.596015,24455.725835,43970.545627,1105.180575,16387.002853,4941.009311,12554.646465,7446.925144,24455.281024,9826.193608,24808.561729
2022-04-01,40508.288420,4909.581023,27150.311205,24461.184509,40782.451956,1020.968713,17414.866042,5774.734455,11887.397875,10285.861726,24460.962770,5028.236254,24739.758729

In [45]:
# get bank name from columns 
products_data.columns = products_data.columns.str.split('.').str[0]

In [2]:
data = pd.read_csv('data/site_changes.csv')
data.head()

,month,year,incentive,apr,notes,bank,notes.1,tag,site changes
0,1,2021,0€,0%,NaN,abanca,NaN,NaN,NaN
1,6,2021,150€,0%,800-1200 deposit,abanca,NaN,incentive increase,NaN
2,8,2021,150€,0%,800-1200 deposit,abanca,NaN,incentive decrease,NaN
3,4,2022,300€,0%,if over 1200 deposit,abanca,NaN,apr increase,NaN
4,12,2022,300€,0%,mejor cambia de el sitio,abanca,NaN,"incentive decrease, apr decrease",major site change

In [3]:
data.tag.value_counts()

tag
increase incentive                  12
increase apr                        12
incentive increase                   4
apr increase                         3
decrease apr                         3
incentive decrease, apr decrease     2
incentive decrease, apr increase     2
incentive decrease                   1
incentive increase, apr increase     1
decrease incentive                   1
decrease incentive                   1
temporary incentive                  1
Name: count, dtype: int64

In [10]:
# rename tags

data.tag = data.tag.replace({'apr increase':'increase apr', 'incentive increase':'increase incentive', 'decrease incentive':'incentive decrease',  'decrease incentive ':'incentive decrease'})

       
data.tag.value_counts()

tag
increase incentive                  16
increase apr                        15
incentive decrease                   3
decrease apr                         3
incentive decrease, apr decrease     2
incentive decrease, apr increase     2
incentive increase, apr increase     1
temporary incentive                  1
Name: count, dtype: int64

create two lists one for APR and Incentive increases.

In [29]:
apr_increase_dates = data[data.tag == 'increase apr']
incentive_increase_dates = data[data.tag == 'increase incentive']

# create a date column from month and year and add day as 1
data['date'] = pd.to_datetime(data[['year', 'month']].assign(day=1))

all_dates = data.date.unique()

We now have to find control data for each of the banks. This would be long periods of time for each bank where there is no incentive changes.

In [1]:
data.head(20)

NameError: name 'data' is not defined

In [34]:
banks = data.bank.unique()
banks

array(['abanca', 'banc sabadell', 'bankinter', 'bbva', 'evobanco',
       'myinvestor', 'n26', 'openbank', 'revolut', 'santander'],
      dtype=object)

In [60]:
banks[-1] = 'bancosantander'

In [61]:
# for each bank we take a subsection of the data that has no incentives 

control_data = {}

for bank in banks:
    print(bank)
    bank = bank.replace(' ', '')
    incentive_dates = data.loc[(data.bank == bank), 'date']
    control_data[bank] = products_data.loc[(~products_data.index.isin(incentive_increase_dates)), bank]

control_data

abanca
banc sabadell
bankinter
bbva
evobanco
myinvestor
n26
openbank
revolut
bancosantander

{'abanca': Date
 2021-12-01    15202.983835
 2022-01-01    42183.913207
 2022-02-01    34498.153115
 2022-03-01    34546.319021
 2022-04-01    40508.288420
 2022-05-01    29791.338180
 2022-06-01    35087.423687
 2022-07-01    61969.499304
 2022-08-01    53939.003961
 2022-09-01    50991.056414
 2022-10-01    50567.127100
 2022-11-01    54180.810911
 2022-12-01    68183.612577
 2023-01-01    72370.734829
 2023-02-01    49474.725810
 2023-03-01    57832.812519
 2023-04-01    52944.026350
 2023-05-01    57922.472646
 2023-06-01    64628.532316
 2023-07-01    77975.997321
 2023-08-01    90688.236048
 2023-09-01    69082.388420
 2023-10-01    75669.229316
 2023-11-01    60025.431952
 2023-12-01    57677.133034
 Name: abanca, dtype: float64,
 'bancsabadell': Date
 2021-12-01    20611.877467
 2022-01-01    28890.415605
 2022-02-01    24924.681184
 2022-03-01    23968.596015
 2022-04-01    27150.311205
 2022-05-01    12267.129453
 2022-06-01    27765.978171
 2022-07-01    33651.426645
 2022-08-01    36382.542418
 2022-09-01    40102.371944
 2022-10-01    18165.133262
 2022-11-01    32183.327435
 2022-12-01    44020.335983
 2023-01-01    62312.793075
 2023-02-01    45136.357495
 2023-03-01    45176.843916
 2023-04-01    31605.250346
 2023-05-01    40352.969007
 2023-06-01    35514.734898
 2023-07-01    21331.915784
 2023-08-01    18200.440264
 2023-09-01    11592.195404
 2023-10-01    15965.007608
 2023-11-01    29518.772025
 2023-12-01    33315.902135
 Name: bancsabadell, dtype: float64,
 'bankinter': Date
 2021-12-01     8733.560835
 2022-01-01    11410.593443
 2022-02-01     8891.661053
 2022-03-01     7446.925144
 2022-04-01    10285.861726
 2022-05-01     5975.582250
 2022-06-01     7762.845175
 2022-07-01     6762.668091
 2022-08-01     5397.615718
 2022-09-01     8613.556577
 2022-10-01     9038.461163
 2022-11-01    13388.845768
 2022-12-01     6247.419882
 2023-01-01    11173.980089
 2023-02-01    14400.977226
 2023-03-01    15987.257196
 2023-04-01    10308.194759
 2023-05-01    24378.839259
 2023-06-01    10733.464507
 2023-07-01    12473.692112
 2023-08-01    16491.783898
 2023-09-01    14668.724299
 2023-10-01    16023.529140
 2023-11-01    10137.764259
 2023-12-01     8809.659637
 Name: bankinter, dtype: float64,
 'bbva': Date
 2021-12-01     45449.486787
 2022-01-01     38306.464983
 2022-02-01     40978.325821
 2022-03-01     43970.545627
 2022-04-01     40782.451956
 2022-05-01     44439.738816
 2022-06-01     29359.709637
 2022-07-01     49115.263085
 2022-08-01     49005.118424
 2022-09-01     36922.655663
 2022-10-01     44828.372663
 2022-11-01     36501.591667
 2022-12-01     41612.028869
 2023-01-01     35220.993415
 2023-02-01     27661.986096
 2023-03-01     29553.218455
 2023-04-01     26776.530441
 2023-05-01     33327.491677
 2023-06-01     33102.538359
 2023-07-01     40004.973736
 2023-08-01     33688.124527
 2023-09-01    102540.477521
 2023-10-01     26425.576456
 2023-11-01     32849.232935
 2023-12-01     29659.949637
 Name: bbva, dtype: float64,
 'evobanco': Date
 2021-12-01     5055.542564
 2022-01-01     4539.012047
 2022-02-01     6049.457905
 2022-03-01     9826.193608
 2022-04-01     5028.236254
 2022-05-01     6753.060528
 2022-06-01     5874.300014
 2022-07-01     2726.868297
 2022-08-01     5641.461711
 2022-09-01     4338.912965
 2022-10-01     4082.431652
 2022-11-01     6046.180546
 2022-12-01     4019.240586
 2023-01-01     4322.966697
 2023-02-01     6607.313704
 2023-03-01     4223.384801
 2023-04-01     7512.648132
 2023-05-01     9008.812031
 2023-06-01    12311.578114
 2023-07-01     7533.147002
 2023-08-01     8121.277500
 2023-09-01     9924.854621
 2023-10-01    10604.392062
 2023-11-01     9441.869501
 2023-12-01    10035.281182
 Name: evobanco, dtype: float64,
 'myinvestor': Date
 2021-12-01     5319.608623
 2022-01-01     6577.851993
 2022-02-01     4031.716960
 2022-03-01     4941.009311
 2022-04-01     5774.734455
 2022-05-01     4701.676152
 2022-06-01     3743.697827
 2022-07-01     8887.531980
 2022-08-01     6295.460707
 2022-09-01     6546.830235
 2022-10-01     7167.531539
 2022-11-01     6307.812018
 2022-12-01     7304.328761
 2023-01-01     8734.948773
 2023-02-01    19912.767403
 2023-03-01    17370.946640
 2023-04-01    11503.598499
 2023-05-01     8063.714763
 2023-06-01    11695.078265
 2023-07-01     9215.536627
 2023-08-01    10196.614426
 2023-09-01    15325.244152
 2023-10-01    13931.765275
 2023-11-01    12300.920914
 2023-12-01    13585.142359
 Name: myinvestor, dtype: float64,
 'n26':                      n26           n26
 Date
 2021-12-01   6664.368911  15239.190071
 2022-01-01   5310.177360  11468.598706
 2022-02-01   5547.588971  12928.637519
 2022-03-01   4900.271300  12554.646465
 2022-04-01   4909.581023  11887.397875
 2022-05-01   6639.387528  14913.055479
 2022-06-01   7382.783337  13022.084932
 2022-07-01   9062.696017  10516.891239
 2022-08-01   8751.572647  11442.034145
 2022-09-01   7224.135119  13134.701329
 2022-10-01   5354.453814  13014.949556
 2022-11-01   9354.987676   9779.149730
 2022-12-01   5165.098005  11302.005588
 2023-01-01   6291.218745   6858.590185
 2023-02-01   6289.052479   7424.039145
 2023-03-01   5844.544203   8809.934386
 2023-04-01   6423.697228  10265.227329
 2023-05-01   5934.957300   6051.689088
 2023-06-01   7570.643411   8215.615083
 2023-07-01  14679.829965  11091.106152
 2023-08-01  11489.221892   9104.383956
 2023-09-01   6403.965628   7935.475920
 2023-10-01   6319.372966   8796.029984
 2023-11-01   5037.106189   9529.609109
 2023-12-01   6233.761120  12034.247890,
 'openbank': Date
 2021-12-01    15254.582228
 2022-01-01    17359.852958
 2022-02-01    16944.054696
 2022-03-01    16387.002853
 2022-04-01    17414.866042
 2022-05-01    12540.812364
 2022-06-01    16505.499592
 2022-07-01    18092.837331
 2022-08-01    17800.667438
 2022-09-01    18473.274511
 2022-10-01    11038.006484
 2022-11-01    11530.562132
 2022-12-01    28515.854193
 2023-01-01    24494.214875
 2023-02-01     6808.164101
 2023-03-01    22470.826103
 2023-04-01    16055.428830
 2023-05-01    20648.962542
 2023-06-01    17035.047468
 2023-07-01    19151.871484
 2023-08-01    11585.968429
 2023-09-01     8604.217515
 2023-10-01    11373.377132
 2023-11-01    10553.927787
 2023-12-01    24651.811838
 Name: openbank, dtype: float64,
 'revolut': Date
 2021-12-01     1343.418328
 2022-01-01     1531.016801
 2022-02-01     1304.591257
 2022-03-01     1105.180575
 2022-04-01     1020.968713
 2022-05-01     1648.221365
 2022-06-01     1261.183403
 2022-07-01     2692.579453
 2022-08-01     4602.381164
 2022-09-01     9032.796518
 2022-10-01     6463.124093
 2022-11-01     8429.248465
 2022-12-01     5686.426537
 2023-01-01     7935.564101
 2023-02-01     7681.633005
 2023-03-01     6635.917039
 2023-04-01     4491.217019
 2023-05-01     6999.442780
 2023-06-01     5608.260579
 2023-07-01     9965.096829
 2023-08-01    16445.376611
 2023-09-01     9423.148003
 2023-10-01     9094.833809
 2023-11-01     7857.143495
 2023-12-01     8700.515520
 Name: revolut, dtype: float64,
 'bancosantander': Date
 2021-12-01    22325.885971
 2022-01-01    28331.245044
 2022-02-01    23798.819170
 2022-03-01    24808.561729
 2022-04-01    24739.758729
 2022-05-01    37041.514189
 2022-06-01    35471.865599
 2022-07-01    35951.674830
 2022-08-01    40746.600434
 2022-09-01    41933.057915
 2022-10-01    64291.322324
 2022-11-01    53373.400895
 2022-12-01    30042.073994
 2023-01-01    55681.194402
 2023-02-01    60995.204258
 2023-03-01    54901.094016
 2023-04-01    48906.056025
 2023-05-01    41976.804617
 2023-06-01    30059.299367
 2023-07-01    45095.502771
 2023-08-01    34290.160425
 2023-09-01    40388.737821
 2023-10-01    36636.706633
 2023-11-01    35387.630139
 2023-12-01    29101.697517
 Name: bancosantander, dtype: float64}

In [ ]:
# given that there are 3 years of data, we will look for sequences that are at least 3 months long with one month on either side of the sequence with no events or incentive increases

In [43]:
# compare the list of all_dates with an array of dates between 2021-01-01 and 2024-01-01

all_dates_comp = pd.date_range(start='2021-01-01', end='2024-01-01', freq='MS')

# find the missing dates

missing_dates = all_dates[~all_dates.isin(all_dates_comp), '']

missing_dates

/var/folders/d4/rcb0hfcs0bzgr7z0mw72lc_w0000gn/T/ipykernel_12030/2978904238.py:7: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  missing_dates = all_dates[~all_dates.isin(all_dates_comp)]

<DatetimeArray>
[]
Length: 0, dtype: datetime64[ns]