In [80]:
import pandas as pd
import numpy as np
import plotly.express as px

# impute missing values with iterative imputer 
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [81]:
products_data = pd.read_excel('./data/Account Products.xlsx', sheet_name='web_traffic_accounts')
products_data.Date = pd.to_datetime(products_data.Date)
products_data.set_index('Date', inplace=True)
products_data.head()

,abanca.com/es/cuentas/cuenta-online,n26.com/es-es/cuenta-sin-comisiones,bancsabadell.com/cuenta-online,ing.es/cuenta-nocuenta-ing,bbva.es/personas/productos/cuentas/cuenta-online-sin-comisiones.html,revolut.com/es-ES/a-radically-better-account/,openbank.es/cuenta-ahorro-bienvenida,myinvestor.es/cuentas-tarjetas/cuentas,n26.com/es-es/cuenta-ahorro,bankinter.com/banca/cuentas-tarjetas/cuentas/cuenta-nomina,ing.es/cuenta-nocuenta-ing.1,evobanco.com/cuenta-inteligente,bancosantander.es/particulares/cuentas-tarjetas/cuentas-corrientes/cuenta-online-sin-comisiones
Date,,,,,,,,,,,,,
2021-12-01,15202.983835,6664.368911,NaN,NaN,45449.486787,1343.418328,NaN,5319.608623,NaN,8733.560835,NaN,5055.542564,22325.885971
2022-01-01,42183.913207,5310.177360,NaN,NaN,38306.464983,1531.016801,NaN,6577.851993,NaN,11410.593443,NaN,4539.012047,28331.245044
2022-02-01,34498.153115,5547.588971,NaN,NaN,40978.325821,1304.591257,NaN,4031.716960,NaN,8891.661053,NaN,6049.457905,23798.819170
2022-03-01,34546.319021,4900.271300,NaN,NaN,43970.545627,1105.180575,NaN,4941.009311,NaN,7446.925144,NaN,9826.193608,24808.561729
2022-04-01,40508.288420,4909.581023,NaN,NaN,40782.451956,1020.968713,NaN,5774.734455,NaN,10285.861726,NaN,5028.236254,24739.758729

In [82]:
imputer = IterativeImputer(max_iter=10, random_state=0)
imputed_data = imputer.fit_transform(products_data)
imputed_data = pd.DataFrame(imputed_data, columns=products_data.columns, index=products_data.index)
products_data = imputed_data.copy()
products_data.head()

,abanca.com/es/cuentas/cuenta-online,n26.com/es-es/cuenta-sin-comisiones,bancsabadell.com/cuenta-online,ing.es/cuenta-nocuenta-ing,bbva.es/personas/productos/cuentas/cuenta-online-sin-comisiones.html,revolut.com/es-ES/a-radically-better-account/,openbank.es/cuenta-ahorro-bienvenida,myinvestor.es/cuentas-tarjetas/cuentas,n26.com/es-es/cuenta-ahorro,bankinter.com/banca/cuentas-tarjetas/cuentas/cuenta-nomina,ing.es/cuenta-nocuenta-ing.1,evobanco.com/cuenta-inteligente,bancosantander.es/particulares/cuentas-tarjetas/cuentas-corrientes/cuenta-online-sin-comisiones
Date,,,,,,,,,,,,,
2021-12-01,15202.983835,6664.368911,20611.877467,24449.393654,45449.486787,1343.418328,15254.582228,5319.608623,15239.190071,8733.560835,24448.706786,5055.542564,22325.885971
2022-01-01,42183.913207,5310.177360,28890.415605,24463.625737,38306.464983,1531.016801,17359.852958,6577.851993,11468.598706,11410.593443,24463.492621,4539.012047,28331.245044
2022-02-01,34498.153115,5547.588971,24924.681184,24456.839455,40978.325821,1304.591257,16944.054696,4031.716960,12928.637519,8891.661053,24456.441669,6049.457905,23798.819170
2022-03-01,34546.319021,4900.271300,23968.596015,24455.725835,43970.545627,1105.180575,16387.002853,4941.009311,12554.646465,7446.925144,24455.281024,9826.193608,24808.561729
2022-04-01,40508.288420,4909.581023,27150.311205,24461.184509,40782.451956,1020.968713,17414.866042,5774.734455,11887.397875,10285.861726,24460.962770,5028.236254,24739.758729

In [83]:
# get bank name from columns 
products_data.columns = products_data.columns.str.split('.').str[0]

In [84]:
data = pd.read_csv('data/site_changes.csv')
data.head()

,month,year,incentive,apr,notes,bank,notes.1,tag,site changes
0,1,2021,0.0,0.0,NaN,abanca,NaN,NaN,NaN
1,6,2021,150.0,0.0,800-1200 deposit,abanca,NaN,incentive increase,NaN
2,8,2021,150.0,0.0,800-1200 deposit,abanca,NaN,incentive decrease,NaN
3,4,2022,300.0,0.0,if over 1200 deposit,abanca,NaN,"incentive decrease, apr decrease",NaN
4,12,2022,300.0,0.0,mejor cambia de el sitio,abanca,NaN,NaN,major site change

In [85]:
data.tag.value_counts()

tag
increase incentive                  12
increase apr                        12
incentive increase                   3
apr increase                         3
decrease apr                         3
incentive decrease, apr decrease     2
incentive decrease, apr increase     2
incentive decrease                   1
incentive increase, apr increase     1
decrease incentive                   1
decrease incentive                   1
temporary incentive                  1
Name: count, dtype: int64

In [86]:
# rename tags

data.tag = data.tag.replace({'apr increase':'increase apr', 'incentive increase':'increase incentive', 'decrease incentive':'incentive decrease',  'decrease incentive ':'incentive decrease'})

       
data.tag.value_counts()

tag
increase incentive                  15
increase apr                        15
incentive decrease                   3
decrease apr                         3
incentive decrease, apr decrease     2
incentive decrease, apr increase     2
incentive increase, apr increase     1
temporary incentive                  1
Name: count, dtype: int64

In [87]:
# map santander to bancosantander in data 
data.bank = data.bank.replace({'santander':'bancosantander'})
# map banc sabadell to bancsabadell
data.bank = data.bank.replace({'banc sabadell':'bancsabadell'})

create two lists one for APR and Incentive increases.

In [88]:
import klib as kl

In [89]:

# create a date column from month and year and add day as 1
data['date'] = pd.to_datetime(data[['year', 'month']].assign(day=1))
data = kl.clean_column_names(data)

apr_increase_dates = data[data.tag == 'increase apr']
incentive_increase_dates = data[data.tag == 'increase incentive']


all_dates = data.date.unique()

In [90]:
apr_increase_dates = apr_increase_dates[['date', 'bank', 'apr']]
incentive_increase_dates = incentive_increase_dates[['date', 'bank', 'incentive']]

In [91]:
# attach incentive and apr to the products data
products_data = products_data.reset_index()

products_data['date'] = products_data.Date.dt.to_period('M').dt.to_timestamp()

In [92]:
banks = data.bank.unique()

In [93]:
banks[1] = 'bancsabadell'

In [94]:
# for each bank we take a subsection of the data that has no incentives 

bank_data_dict = {}

for bank in banks:
    # for each bank attach the relevant apr and incentive data
    apr_data = apr_increase_dates[apr_increase_dates.bank == bank]
    incentive_data = incentive_increase_dates[incentive_increase_dates.bank == bank]

    # merge the apr and incentives data with a copy of the products data specific to the bank
    bank_data = products_data[[bank, 'date']].copy()
    bank_data = bank_data.merge(apr_data, on='date', how='left')
    bank_data = bank_data.merge(incentive_data, on='date', how='left')
    bank_data_dict[bank] = bank_data



bank_data_dict

{'abanca':           abanca       date  bank_x  apr bank_y  incentive
 0   15202.983835 2021-12-01     NaN  NaN    NaN        NaN
 1   42183.913207 2022-01-01     NaN  NaN    NaN        NaN
 2   34498.153115 2022-02-01     NaN  NaN    NaN        NaN
 3   34546.319021 2022-03-01     NaN  NaN    NaN        NaN
 4   40508.288420 2022-04-01     NaN  NaN    NaN        NaN
 5   29791.338180 2022-05-01     NaN  NaN    NaN        NaN
 6   35087.423687 2022-06-01     NaN  NaN    NaN        NaN
 7   61969.499304 2022-07-01     NaN  NaN    NaN        NaN
 8   53939.003961 2022-08-01     NaN  NaN    NaN        NaN
 9   50991.056414 2022-09-01     NaN  NaN    NaN        NaN
 10  50567.127100 2022-10-01     NaN  NaN    NaN        NaN
 11  54180.810911 2022-11-01     NaN  NaN    NaN        NaN
 12  68183.612577 2022-12-01     NaN  NaN    NaN        NaN
 13  72370.734829 2023-01-01     NaN  NaN    NaN        NaN
 14  49474.725810 2023-02-01     NaN  NaN    NaN        NaN
 15  57832.812519 2023-03-01     NaN  NaN    NaN        NaN
 16  52944.026350 2023-04-01     NaN  NaN    NaN        NaN
 17  57922.472646 2023-05-01     NaN  NaN    NaN        NaN
 18  64628.532316 2023-06-01     NaN  NaN    NaN        NaN
 19  77975.997321 2023-07-01  abanca  2.0    NaN        NaN
 20  90688.236048 2023-08-01     NaN  NaN    NaN        NaN
 21  69082.388420 2023-09-01     NaN  NaN    NaN        NaN
 22  75669.229316 2023-10-01     NaN  NaN    NaN        NaN
 23  60025.431952 2023-11-01     NaN  NaN    NaN        NaN
 24  57677.133034 2023-12-01  abanca  2.0    NaN        NaN,
 'bancsabadell':     bancsabadell       date        bank_x  apr        bank_y  incentive
 0   20611.877467 2021-12-01           NaN  NaN           NaN        NaN
 1   28890.415605 2022-01-01           NaN  NaN           NaN        NaN
 2   24924.681184 2022-02-01           NaN  NaN           NaN        NaN
 3   23968.596015 2022-03-01           NaN  NaN           NaN        NaN
 4   27150.311205 2022-04-01           NaN  NaN           NaN        NaN
 5   12267.129453 2022-05-01           NaN  NaN           NaN        NaN
 6   27765.978171 2022-06-01           NaN  NaN           NaN        NaN
 7   33651.426645 2022-07-01           NaN  NaN           NaN        NaN
 8   36382.542418 2022-08-01           NaN  NaN           NaN        NaN
 9   40102.371944 2022-09-01           NaN  NaN  bancsabadell        0.0
 10  18165.133262 2022-10-01           NaN  NaN           NaN        NaN
 11  32183.327435 2022-11-01           NaN  NaN           NaN        NaN
 12  44020.335983 2022-12-01           NaN  NaN           NaN        NaN
 13  62312.793075 2023-01-01  bancsabadell  2.0           NaN        NaN
 14  45136.357495 2023-02-01           NaN  NaN           NaN        NaN
 15  45176.843916 2023-03-01           NaN  NaN           NaN        NaN
 16  31605.250346 2023-04-01           NaN  NaN  bancsabadell      250.0
 17  40352.969007 2023-05-01           NaN  NaN           NaN        NaN
 18  35514.734898 2023-06-01           NaN  NaN           NaN        NaN
 19  21331.915784 2023-07-01           NaN  NaN           NaN        NaN
 20  18200.440264 2023-08-01           NaN  NaN           NaN        NaN
 21  11592.195404 2023-09-01           NaN  NaN           NaN        NaN
 22  15965.007608 2023-10-01           NaN  NaN           NaN        NaN
 23  29518.772025 2023-11-01           NaN  NaN           NaN        NaN
 24  33315.902135 2023-12-01           NaN  NaN           NaN        NaN,
 'bankinter':        bankinter       date bank_x  apr     bank_y  incentive
 0    8733.560835 2021-12-01    NaN  NaN        NaN        NaN
 1   11410.593443 2022-01-01    NaN  NaN        NaN        NaN
 2    8891.661053 2022-02-01    NaN  NaN        NaN        NaN
 3    7446.925144 2022-03-01    NaN  NaN        NaN        NaN
 4   10285.861726 2022-04-01    NaN  NaN        NaN        NaN
 5    5975.582250 2022-05-01    NaN  NaN        NaN        NaN
 6    7762.845175 2022-06-01    NaN  NaN        NaN        NaN
 7    6762.668091 2022-07-01    NaN  NaN        NaN        NaN
 8    5397.615718 2022-08-01    NaN  NaN        NaN        NaN
 9    8613.556577 2022-09-01    NaN  NaN        NaN        NaN
 10   9038.461163 2022-10-01    NaN  NaN        NaN        NaN
 11  13388.845768 2022-11-01    NaN  NaN        NaN        NaN
 12   6247.419882 2022-12-01    NaN  NaN        NaN        NaN
 13  11173.980089 2023-01-01    NaN  NaN        NaN        NaN
 14  14400.977226 2023-02-01    NaN  NaN        NaN        NaN
 15  15987.257196 2023-03-01    NaN  NaN        NaN        NaN
 16  10308.194759 2023-04-01    NaN  NaN        NaN        NaN
 17  24378.839259 2023-05-01    NaN  NaN        NaN        NaN
 18  10733.464507 2023-06-01    NaN  NaN        NaN        NaN
 19  12473.692112 2023-07-01    NaN  NaN  bankinter        0.0
 20  16491.783898 2023-08-01    NaN  NaN        NaN        NaN
 21  14668.724299 2023-09-01    NaN  NaN        NaN        NaN
 22  16023.529140 2023-10-01    NaN  NaN        NaN        NaN
 23  10137.764259 2023-11-01    NaN  NaN        NaN        NaN
 24   8809.659637 2023-12-01    NaN  NaN        NaN        NaN,
 'bbva':              bbva       date bank_x  apr bank_y  incentive
 0    45449.486787 2021-12-01    NaN  NaN    NaN        NaN
 1    38306.464983 2022-01-01    NaN  NaN    NaN        NaN
 2    40978.325821 2022-02-01    NaN  NaN    NaN        NaN
 3    43970.545627 2022-03-01    NaN  NaN    NaN        NaN
 4    40782.451956 2022-04-01    NaN  NaN    NaN        NaN
 5    44439.738816 2022-05-01    NaN  NaN    NaN        NaN
 6    29359.709637 2022-06-01    NaN  NaN    NaN        NaN
 7    49115.263085 2022-07-01    NaN  NaN   bbva        0.0
 8    49005.118424 2022-08-01    NaN  NaN    NaN        NaN
 9    36922.655663 2022-09-01    NaN  NaN    NaN        NaN
 10   44828.372663 2022-10-01    NaN  NaN    NaN        NaN
 11   36501.591667 2022-11-01    NaN  NaN    NaN        NaN
 12   41612.028869 2022-12-01    NaN  NaN    NaN        NaN
 13   35220.993415 2023-01-01    NaN  NaN    NaN        NaN
 14   27661.986096 2023-02-01    NaN  NaN    NaN        NaN
 15   29553.218455 2023-03-01    NaN  NaN   bbva        0.0
 16   26776.530441 2023-04-01    NaN  NaN    NaN        NaN
 17   33327.491677 2023-05-01    NaN  NaN    NaN        NaN
 18   33102.538359 2023-06-01    NaN  NaN    NaN        NaN
 19   40004.973736 2023-07-01    NaN  NaN   bbva        0.0
 20   33688.124527 2023-08-01    NaN  NaN    NaN        NaN
 21  102540.477521 2023-09-01    NaN  NaN    NaN        NaN
 22   26425.576456 2023-10-01    NaN  NaN    NaN        NaN
 23   32849.232935 2023-11-01    NaN  NaN   bbva        0.0
 24   32849.232935 2023-11-01    NaN  NaN   bbva        0.0
 25   29659.949637 2023-12-01    NaN  NaN    NaN        NaN,
 'evobanco':         evobanco       date    bank_x   apr bank_y  incentive
 0    5055.542564 2021-12-01       NaN   NaN    NaN        NaN
 1    4539.012047 2022-01-01       NaN   NaN    NaN        NaN
 2    6049.457905 2022-02-01       NaN   NaN    NaN        NaN
 3    9826.193608 2022-03-01       NaN   NaN    NaN        NaN
 4    5028.236254 2022-04-01       NaN   NaN    NaN        NaN
 5    6753.060528 2022-05-01       NaN   NaN    NaN        NaN
 6    5874.300014 2022-06-01       NaN   NaN    NaN        NaN
 7    2726.868297 2022-07-01       NaN   NaN    NaN        NaN
 8    5641.461711 2022-08-01       NaN   NaN    NaN        NaN
 9    4338.912965 2022-09-01       NaN   NaN    NaN        NaN
 10   4082.431652 2022-10-01       NaN   NaN    NaN        NaN
 11   6046.180546 2022-11-01  evobanco  0.06    NaN        NaN
 12   4019.240586 2022-12-01       NaN   NaN    NaN        NaN
 13   4322.966697 2023-01-01       NaN   NaN    NaN        NaN
 14   6607.313704 2023-02-01       NaN   NaN    NaN        NaN
 15   4223.384801 2023-03-01       NaN   NaN    NaN        NaN
 16   7512.648132 2023-04-01  evobanco  2.00    NaN        NaN
 17   9008.812031 2023-05-01       NaN   NaN    NaN        NaN
 18  12311.578114 2023-06-01       NaN   NaN    NaN        NaN
 19   7533.147002 2023-07-01       NaN   NaN    NaN        NaN
 20   8121.277500 2023-08-01       NaN   NaN    NaN        NaN
 21   9924.854621 2023-09-01  evobanco  2.50    NaN        NaN
 22  10604.392062 2023-10-01       NaN   NaN    NaN        NaN
 23   9441.869501 2023-11-01  evobanco  2.85    NaN        NaN
 24  10035.281182 2023-12-01       NaN   NaN    NaN        NaN,
 'myinvestor':       myinvestor       date      bank_x  apr bank_y  incentive
 0    5319.608623 2021-12-01         NaN  NaN    NaN        NaN
 1    6577.851993 2022-01-01         NaN  NaN    NaN        NaN
 2    4031.716960 2022-02-01         NaN  NaN    NaN        NaN
 3    4941.009311 2022-03-01         NaN  NaN    NaN        NaN
 4    5774.734455 2022-04-01         NaN  NaN    NaN        NaN
 5    4701.676152 2022-05-01         NaN  NaN    NaN        NaN
 6    3743.697827 2022-06-01         NaN  NaN    NaN        NaN
 7    8887.531980 2022-07-01         NaN  NaN    NaN        NaN
 8    6295.460707 2022-08-01         NaN  NaN    NaN        NaN
 9    6546.830235 2022-09-01  myinvestor  1.0    NaN        NaN
 10   7167.531539 2022-10-01  myinvestor  1.0    NaN        NaN
 11   6307.812018 2022-11-01         NaN  NaN    NaN        NaN
 12   7304.328761 2022-12-01         NaN  NaN    NaN        NaN
 13   8734.948773 2023-01-01  myinvestor  2.0    NaN        NaN
 14  19912.767403 2023-02-01         NaN  NaN    NaN        NaN
 15  17370.946640 2023-03-01         NaN  NaN    NaN        NaN
 16  11503.598499 2023-04-01         NaN  NaN    NaN        NaN
 17   8063.714763 2023-05-01         NaN  NaN    NaN        NaN
 18  11695.078265 2023-06-01         NaN  NaN    NaN        NaN
 19   9215.536627 2023-07-01         NaN  NaN    NaN        NaN
 20  10196.614426 2023-08-01         NaN  NaN    NaN        NaN
 21  15325.244152 2023-09-01         NaN  NaN    NaN        NaN
 22  13931.765275 2023-10-01         NaN  NaN    NaN        NaN
 23  12300.920914 2023-11-01         NaN  NaN    NaN        NaN
 24  13585.142359 2023-12-01         NaN  NaN    NaN        NaN,
 'n26':              n26           n26       date bank_x   apr bank_y  incentive
 0    6664.368911  15239.190071 2021-12-01    NaN   NaN    NaN        NaN
 1    5310.177360  11468.598706 2022-01-01    NaN   NaN    NaN        NaN
 2    5547.588971  12928.637519 2022-02-01    NaN   NaN    NaN        NaN
 3    4900.271300  12554.646465 2022-03-01    NaN   NaN    NaN        NaN
 4    4909.581023  11887.397875 2022-04-01    NaN   NaN    NaN        NaN
 5    6639.387528  14913.055479 2022-05-01    NaN   NaN    NaN        NaN
 6    7382.783337  13022.084932 2022-06-01    NaN   NaN    NaN        NaN
 7    9062.696017  10516.891239 2022-07-01    NaN   NaN    NaN        NaN
 8    8751.572647  11442.034145 2022-08-01    NaN   NaN    NaN        NaN
 9    7224.135119  13134.701329 2022-09-01    NaN   NaN    NaN        NaN
 10   5354.453814  13014.949556 2022-10-01    NaN   NaN    NaN        NaN
 11   9354.987676   9779.149730 2022-11-01    NaN   NaN    NaN        NaN
 12   5165.098005  11302.005588 2022-12-01    NaN   NaN    NaN        NaN
 13   6291.218745   6858.590185 2023-01-01    NaN   NaN    NaN        NaN
 14   6289.052479   7424.039145 2023-02-01    NaN   NaN    NaN        NaN
 15   5844.544203   8809.934386 2023-03-01    NaN   NaN    NaN        NaN
 16   6423.697228  10265.227329 2023-04-01    NaN   NaN    NaN        NaN
 17   5934.957300   6051.689088 2023-05-01    NaN   NaN    NaN        NaN
 18   7570.643411   8215.615083 2023-06-01    NaN   NaN    NaN        NaN
 19  14679.829965  11091.106152 2023-07-01    n26  2.26    NaN        NaN
 20  11489.221892   9104.383956 2023-08-01    NaN   NaN    NaN        NaN
 21   6403.965628   7935.475920 2023-09-01    NaN   NaN    NaN        NaN
 22   6319.372966   8796.029984 2023-10-01    NaN   NaN    NaN        NaN
 23   5037.106189   9529.609109 2023-11-01    NaN   NaN    NaN        NaN
 24   6233.761120  12034.247890 2023-12-01    NaN   NaN    NaN        NaN,
 'openbank':         openbank       date    bank_x   apr bank_y  incentive
 0   15254.582228 2021-12-01       NaN   NaN    NaN        NaN
 1   17359.852958 2022-01-01       NaN   NaN    NaN        NaN
 2   16944.054696 2022-02-01       NaN   NaN    NaN        NaN
 3   16387.002853 2022-03-01       NaN   NaN    NaN        NaN
 4   17414.866042 2022-04-01  openbank  1.00    NaN        NaN
 5   12540.812364 2022-05-01       NaN   NaN    NaN        NaN
 6   16505.499592 2022-06-01       NaN   NaN    NaN        NaN
 7   18092.837331 2022-07-01       NaN   NaN    NaN        NaN
 8   17800.667438 2022-08-01       NaN   NaN    NaN        NaN
 9   18473.274511 2022-09-01       NaN   NaN    NaN        NaN
 10  11038.006484 2022-10-01       NaN   NaN    NaN        NaN
 11  11530.562132 2022-11-01       NaN   NaN    NaN        NaN
 12  28515.854193 2022-12-01       NaN   NaN    NaN        NaN
 13  24494.214875 2023-01-01       NaN   NaN    NaN        NaN
 14   6808.164101 2023-02-01       NaN   NaN    NaN        NaN
 15  22470.826103 2023-03-01       NaN   NaN    NaN        NaN
 16  16055.428830 2023-04-01  openbank  1.25    NaN        NaN
 17  20648.962542 2023-05-01       NaN   NaN    NaN        NaN
 18  17035.047468 2023-06-01       NaN   NaN    NaN        NaN
 19  19151.871484 2023-07-01       NaN   NaN    NaN        NaN
 20  11585.968429 2023-08-01       NaN   NaN    NaN        NaN
 21   8604.217515 2023-09-01       NaN   NaN    NaN        NaN
 22  11373.377132 2023-10-01  openbank  1.76    NaN        NaN
 23  10553.927787 2023-11-01       NaN   NaN    NaN        NaN
 24  24651.811838 2023-12-01       NaN   NaN    NaN        NaN,
 'revolut':          revolut       date bank_x  apr   bank_y  incentive
 0    1343.418328 2021-12-01    NaN  NaN      NaN        NaN
 1    1531.016801 2022-01-01    NaN  NaN      NaN        NaN
 2    1304.591257 2022-02-01    NaN  NaN      NaN        NaN
 3    1105.180575 2022-03-01    NaN  NaN      NaN        NaN
 4    1020.968713 2022-04-01    NaN  NaN      NaN        NaN
 5    1648.221365 2022-05-01    NaN  NaN      NaN        NaN
 6    1261.183403 2022-06-01    NaN  NaN      NaN        NaN
 7    2692.579453 2022-07-01    NaN  NaN      NaN        NaN
 8    4602.381164 2022-08-01    NaN  NaN      NaN        NaN
 9    9032.796518 2022-09-01    NaN  NaN  revolut        0.0
 10   6463.124093 2022-10-01    NaN  NaN      NaN        NaN
 11   8429.248465 2022-11-01    NaN  NaN      NaN        NaN
 12   5686.426537 2022-12-01    NaN  NaN      NaN        NaN
 13   7935.564101 2023-01-01    NaN  NaN      NaN        NaN
 14   7681.633005 2023-02-01    NaN  NaN      NaN        NaN
 15   6635.917039 2023-03-01    NaN  NaN      NaN        NaN
 16   4491.217019 2023-04-01    NaN  NaN      NaN        NaN
 17   6999.442780 2023-05-01    NaN  NaN      NaN        NaN
 18   5608.260579 2023-06-01    NaN  NaN      NaN        NaN
 19   9965.096829 2023-07-01    NaN  NaN      NaN        NaN
 20  16445.376611 2023-08-01    NaN  NaN      NaN        NaN
 21   9423.148003 2023-09-01    NaN  NaN      NaN        NaN
 22   9094.833809 2023-10-01    NaN  NaN  revolut        0.0
 23   7857.143495 2023-11-01    NaN  NaN  revolut        0.0
 24   8700.515520 2023-12-01    NaN  NaN      NaN        NaN,
 'bancosantander':     bancosantander       date bank_x  apr          bank_y  incentive
 0     22325.885971 2021-12-01    NaN  NaN             NaN        NaN
 1     28331.245044 2022-01-01    NaN  NaN             NaN        NaN
 2     23798.819170 2022-02-01    NaN  NaN             NaN        NaN
 3     24808.561729 2022-03-01    NaN  NaN             NaN        NaN
 4     24739.758729 2022-04-01    NaN  NaN             NaN        NaN
 5     37041.514189 2022-05-01    NaN  NaN  bancosantander      150.0
 6     35471.865599 2022-06-01    NaN  NaN             NaN        NaN
 7     35951.674830 2022-07-01    NaN  NaN             NaN        NaN
 8     40746.600434 2022-08-01    NaN  NaN  bancosantander      150.0
 9     41933.057915 2022-09-01    NaN  NaN             NaN        NaN
 10    64291.322324 2022-10-01    NaN  NaN             NaN        NaN
 11    53373.400895 2022-11-01    NaN  NaN             NaN        NaN
 12    30042.073994 2022-12-01    NaN  NaN             NaN        NaN
 13    55681.194402 2023-01-01    NaN  NaN             NaN        NaN
 14    60995.204258 2023-02-01    NaN  NaN             NaN        NaN
 15    54901.094016 2023-03-01    NaN  NaN             NaN        NaN
 16    48906.056025 2023-04-01    NaN  NaN             NaN        NaN
 17    41976.804617 2023-05-01    NaN  NaN             NaN        NaN
 18    30059.299367 2023-06-01    NaN  NaN             NaN        NaN
 19    45095.502771 2023-07-01    NaN  NaN             NaN        NaN
 20    34290.160425 2023-08-01    NaN  NaN             NaN        NaN
 21    40388.737821 2023-09-01    NaN  NaN  bancosantander      400.0
 22    36636.706633 2023-10-01    NaN  NaN             NaN        NaN
 23    35387.630139 2023-11-01    NaN  NaN             NaN        NaN
 24    29101.697517 2023-12-01    NaN  NaN             NaN        NaN}

In [95]:
# drop bank_x and bank_y columns
for bank in banks:
    bank_data = bank_data_dict[bank]
    bank_data = bank_data.drop(columns=['bank_x', 'bank_y'])
    bank_data.fillna(0, inplace=True)
    bank_data_dict[bank] = bank_data

In [ ]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [ ]:
given dataframes with columns ['bancosantander', 'date', 'apr']. 
where apr is an event flag.
I would need 4 separate streams of events: the event date with 1 day on either side of the event, the equivalent time frame from another bank without any event, 
and another control period where neither bank has any activity.

In [ ]:
def check_if_valid_event(bank_data, date, buffer):
    date_index = bank_data[bank_data.date == date].index[0]
    for i in range(0, buffer):
        if bank_data.loc[date_index - i].apr != 0 and bank_data.loc[date_index + i].apr != 0:
            return False

    return True

In [78]:
buffer = 1

# for each bank we find an event date 
for bank in banks:
    bank_data = bank_data_dict[bank]

    # find a date where there is an apr increase
    apr_increase_dates = bank_data[bank_data.apr > 0]

    # for each event date we verify that there is 1 day before and after that are not events
    valid_dates = {'regressions':[]}
    for date in apr_increase_dates.date:
        is_valid = check_if_valid_date(bank_data, date, buffer)
        # if the date is valid we check look for a control date in another bank 
        if is_valid:
            for bank in banks: 
                
                if bank != bank:
                    bank_data_control = bank_data_dict[bank]
                    control_date = bank_data_control[bank_data_control.date == date]
                    if control_date.apr == 0 and check_if_valid_date(bank_data_control, date, buffer):
                        # now we have a valid event and control date
                        # we now need to find a control period where neither bank has activity

                        # find a control period where neither bank has activity

Index(['bancosantander', 'date', 'apr', 'incentive'], dtype='object')

In [43]:
# compare the list of all_dates with an array of dates between 2021-01-01 and 2024-01-01

all_dates_comp = pd.date_range(start='2021-01-01', end='2024-01-01', freq='MS')

# find the missing dates

missing_dates = all_dates[~all_dates.isin(all_dates_comp), '']

missing_dates

/var/folders/d4/rcb0hfcs0bzgr7z0mw72lc_w0000gn/T/ipykernel_12030/2978904238.py:7: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  missing_dates = all_dates[~all_dates.isin(all_dates_comp)]

<DatetimeArray>
[]
Length: 0, dtype: datetime64[ns]