In [50]:
import pandas as pd
import numpy as np
import plotly.express as px
import klib as kl

# impute missing values with iterative imputer 
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [51]:
products_data = pd.read_csv('data/regression_clean_data.csv')

In [52]:
data = pd.read_csv('data/site_changes_cleaned.csv')



# create a date column from month and year and add day as 1
data['date'] = pd.to_datetime(data[['year', 'month']].assign(day=1))
data = kl.clean_column_names(data)

data.head()

,month,year,incentive,apr,notes,bank,notes_1,tag,site_changes,date
0,1,2021,0,0.0,NaN,abanca,NaN,NaN,NaN,2021-01-01
1,6,2021,150,0.0,800-1200 deposit,abanca,NaN,increase incentive,NaN,2021-06-01
2,8,2021,150,0.0,800-1200 deposit,abanca,NaN,incentive decrease,NaN,2021-08-01
3,4,2022,300,0.0,if over 1200 deposit,abanca,NaN,"incentive increase, apr decrease",NaN,2022-04-01
4,12,2022,300,0.0,mejor cambia de el sitio,abanca,NaN,NaN,major site change,2022-12-01

In [53]:
mapping_dict = {
    'abanca': 'abanca',
    'banc sabadell': 'banc sabadell',
    'bancosabadell': 'banc sabadell',
    'bancosantander': 'santander',
    'bancsabadell': 'banc sabadell',
    'sabadell': 'banc sabadell',
    'bank': 'bank',
    'bankinter': 'bankinter',
    'bbva': 'bbva',
    'caixabank': 'caixabank',
    'caixa_bank': 'caixabank',
    'date': 'date',
    'evobanco': 'evobanco',
    'evo_banco': 'evobanco',
    'imagin': 'imagin',
    'ing': 'ing',
    'ing-bank': 'ing',
    'ing_bank': 'ing',
    'kutxabank': 'kutxabank',
    'liberbank': 'liberbank',
    'myinvestor': 'myinvestor',
    'n26': 'n26',
    'n26.com': 'n26',
    None: None,  # handling nan (not a number)
    'openbank': 'openbank',
    'orangebank': 'orangebank',
    'pibank': 'pibank',
    'renaultbank': 'renaultbank',
    'revolut': 'revolut',
    'santander': 'santander',
    'value': 'value'
}

# map santander to bancosantander in data 
data.bank = data.bank.map(mapping_dict)
products_data.bank = products_data.bank.map(mapping_dict)

In [54]:
# cast date to datetime
products_data['date'] = pd.to_datetime(products_data['date'])
products_data = products_data[['date', 'bank', 'web_traffic']]

data['date'] = pd.to_datetime(data['date'])

In [55]:
data.head()

,month,year,incentive,apr,notes,bank,notes_1,tag,site_changes,date
0,1,2021,0,0.0,NaN,abanca,NaN,NaN,NaN,2021-01-01
1,6,2021,150,0.0,800-1200 deposit,abanca,NaN,increase incentive,NaN,2021-06-01
2,8,2021,150,0.0,800-1200 deposit,abanca,NaN,incentive decrease,NaN,2021-08-01
3,4,2022,300,0.0,if over 1200 deposit,abanca,NaN,"incentive increase, apr decrease",NaN,2022-04-01
4,12,2022,300,0.0,mejor cambia de el sitio,abanca,NaN,NaN,major site change,2022-12-01

In [56]:

# attach product_data to data
data = pd.merge(products_data, data, on=['bank', 'date'], how='left')

# drop the 124 row 
data = data.drop(124)

data['date'] = pd.to_datetime(data[['year', 'month']].assign(day=1))


# for some reason banks are not having the dates attaching properly to the bank data so we have to re add all of the dates to the banks

for bank in data.bank.unique():
    data.loc[data.bank == bank, 'date'] = list(products_data.date.unique())

In [57]:
data = data[['date','bank','web_traffic','site_changes']]

separate the data into increase apr and increase incentive lists

In [58]:
banks = data.bank.unique()

here we create a dictionary for each bank as a key and each value is a dataframe of the bank's data.

In [59]:
# for each bank we take a subsection of the data that has no incentives 

bank_data_dict = {}

for bank in banks:
    # for each bank attach the relevant apr and incentive data
    
    bank_data = data[data.bank == bank].fillna(0)
    
    # if the site_change column is not 0 it should be 1 
    bank_data['site_changes'] = bank_data.site_changes.apply(lambda x: 1 if x != 0 else 0)

    print(bank_data.site_changes.value_counts())
    print(bank_data.groupby('bank')['date'].count())

    bank_data_dict[bank] = bank_data


bank_data_dict

site_changes
0    24
1     1
Name: count, dtype: int64
bank
abanca    25
Name: date, dtype: int64
site_changes
0    24
1     1
Name: count, dtype: int64
bank
n26    25
Name: date, dtype: int64
site_changes
0    24
1     1
Name: count, dtype: int64
bank
banc sabadell    25
Name: date, dtype: int64
site_changes
0    25
Name: count, dtype: int64
bank
ing    25
Name: date, dtype: int64
site_changes
0    25
Name: count, dtype: int64
bank
bbva    25
Name: date, dtype: int64
site_changes
0    22
1     3
Name: count, dtype: int64
bank
revolut    25
Name: date, dtype: int64
site_changes
0    25
Name: count, dtype: int64
bank
openbank    25
Name: date, dtype: int64
site_changes
0    25
Name: count, dtype: int64
bank
myinvestor    25
Name: date, dtype: int64
site_changes
0    25
Name: count, dtype: int64
bank
bankinter    25
Name: date, dtype: int64
site_changes
0    25
Name: count, dtype: int64
bank
evobanco    25
Name: date, dtype: int64
site_changes
0    24
1     1
Name: count, dtype: int64
bank
santander    25
Name: date, dtype: int64

/var/folders/d4/rcb0hfcs0bzgr7z0mw72lc_w0000gn/T/ipykernel_34317/3501530819.py:8: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  bank_data = data[data.bank == bank].fillna(0)
/var/folders/d4/rcb0hfcs0bzgr7z0mw72lc_w0000gn/T/ipykernel_34317/3501530819.py:8: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  bank_data = data[data.bank == bank].fillna(0)
/var/folders/d4/rcb0hfcs0bzgr7z0mw72lc_w0000gn/T/ipykernel_34317/3501530819.py:8: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  bank_data = data[data.bank == bank].fillna(0)
/var/folders/d4/rcb0hfcs0bzgr7z0mw72lc_w0000gn/T/ipykernel_34317/3501530819.py:8: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  bank_data = data[data.bank == bank].fillna(0)
/var/folders/d4/rcb0hfcs0bzgr7z0mw72lc_w0000gn/T/ipykernel_34317/3501530819.py:8: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  bank_data = data[data.bank == bank].fillna(0)
/var/folders/d4/rcb0hfcs0bzgr7z0mw72lc_w0000gn/T/ipykernel_34317/3501530819.py:8: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  bank_data = data[data.bank == bank].fillna(0)

{'abanca':          date    bank   web_traffic  site_changes
 0  2021-12-01  abanca  15202.983835             0
 1  2022-01-01  abanca  42183.913207             0
 2  2022-02-01  abanca  34498.153115             0
 3  2022-03-01  abanca  34546.319021             0
 4  2022-04-01  abanca  40508.288420             0
 5  2022-05-01  abanca  29791.338180             0
 6  2022-06-01  abanca  35087.423687             0
 7  2022-07-01  abanca  61969.499304             0
 8  2022-08-01  abanca  53939.003961             0
 9  2022-09-01  abanca  50991.056414             0
 10 2022-10-01  abanca  50567.127100             0
 11 2022-11-01  abanca  54180.810911             0
 12 2022-12-01  abanca  68183.612577             1
 13 2023-01-01  abanca  72370.734829             0
 14 2023-02-01  abanca  49474.725810             0
 15 2023-03-01  abanca  57832.812519             0
 16 2023-04-01  abanca  52944.026350             0
 17 2023-05-01  abanca  57922.472646             0
 18 2023-06-01  abanca  64628.532316             0
 19 2023-07-01  abanca  77975.997321             0
 20 2023-08-01  abanca  90688.236048             0
 21 2023-09-01  abanca  69082.388420             0
 22 2023-10-01  abanca  75669.229316             0
 23 2023-11-01  abanca  60025.431952             0
 24 2023-12-01  abanca  57677.133034             0,
 'n26':          date bank   web_traffic  site_changes
 25 2021-12-01  n26   8723.148705             0
 26 2022-01-01  n26   8046.052930             0
 27 2022-02-01  n26   8164.758735             0
 28 2022-03-01  n26   7841.099900             0
 29 2022-04-01  n26   7845.754761             0
 30 2022-05-01  n26   8710.658014             0
 31 2022-06-01  n26   9082.355918             0
 32 2022-07-01  n26   8967.654057             0
 33 2022-08-01  n26   8271.110873             0
 34 2022-09-01  n26   7507.392109             0
 35 2022-10-01  n26   7832.405722             0
 36 2022-11-01  n26   8572.818387             1
 37 2022-12-01  n26   7645.014746             0
 38 2023-01-01  n26   6712.435415             0
 39 2023-02-01  n26   7039.850789             0
 40 2023-03-01  n26   6817.596651             0
 41 2023-04-01  n26   7107.173163             0
 42 2023-05-01  n26   5993.323194             0
 43 2023-06-01  n26   7893.129247             0
 44 2023-07-01  n26  12885.468059             0
 45 2023-08-01  n26  10296.802924             0
 46 2023-09-01  n26   7169.720774             0
 47 2023-10-01  n26   7557.701475             0
 48 2023-11-01  n26   7283.357649             0
 49 2023-12-01  n26   9134.004505             0,
 'banc sabadell':          date           bank   web_traffic  site_changes
 50 2021-12-01  banc sabadell  20016.553812             0
 51 2022-01-01  banc sabadell  20016.553812             0
 52 2022-02-01  banc sabadell  20016.553812             0
 53 2022-03-01  banc sabadell  20016.553812             0
 54 2022-04-01  banc sabadell  20016.553812             0
 55 2022-05-01  banc sabadell  12267.129453             0
 56 2022-06-01  banc sabadell  27765.978171             0
 57 2022-07-01  banc sabadell  33651.426645             0
 58 2022-08-01  banc sabadell  36382.542418             0
 59 2022-09-01  banc sabadell  40102.371944             0
 60 2022-10-01  banc sabadell  18165.133262             0
 61 2022-11-01  banc sabadell  32183.327435             0
 62 2022-12-01  banc sabadell  44020.335983             0
 63 2023-01-01  banc sabadell  62312.793075             0
 64 2023-02-01  banc sabadell  45136.357495             0
 65 2023-03-01  banc sabadell  45176.843916             0
 66 2023-04-01  banc sabadell  31605.250346             0
 67 2023-05-01  banc sabadell  40352.969007             1
 68 2023-06-01  banc sabadell  35514.734898             0
 69 2023-07-01  banc sabadell  21331.915784             0
 70 2023-08-01  banc sabadell  18200.440264             0
 71 2023-09-01  banc sabadell  11592.195404             0
 72 2023-10-01  banc sabadell  15965.007608             0
 73 2023-11-01  banc sabadell  29518.772025             0
 74 2023-12-01  banc sabadell  33315.902135             0,
 'ing':          date bank   web_traffic  site_changes
 75 2021-12-01  ing  40358.432576             0
 76 2022-01-01  ing  32371.233465             0
 77 2022-02-01  ing  40358.432576             0
 78 2022-03-01  ing  40358.432576             0
 79 2022-04-01  ing  40358.432576             0
 80 2022-05-01  ing  33487.406055             0
 81 2022-06-01  ing  33983.086895             0
 82 2022-07-01  ing  22189.247828             0
 83 2022-08-01  ing  29944.644102             0
 84 2022-09-01  ing  50772.221050             0
 85 2022-10-01  ing  37030.168008             0
 86 2022-11-01  ing  26060.153791             0
 87 2022-12-01  ing  27993.221193             0
 88 2023-01-01  ing  27614.885810             0
 89 2023-02-01  ing  26023.707737             0
 90 2023-03-01  ing  20935.685509             0
 91 2023-04-01  ing  17193.952741             0
 92 2023-05-01  ing  19644.872227             0
 93 2023-06-01  ing  17358.399172             0
 94 2023-07-01  ing  26414.425931             0
 95 2023-08-01  ing  18230.702830             0
 96 2023-09-01  ing  20531.783913             0
 97 2023-10-01  ing  17299.213955             0
 98 2023-11-01  ing  21210.030797             0
 99 2023-12-01  ing  13970.245879             0,
 'bbva':           date  bank    web_traffic  site_changes
 100 2021-12-01  bbva   45449.486787             0
 101 2022-01-01  bbva   38306.464983             0
 102 2022-02-01  bbva   40978.325821             0
 103 2022-03-01  bbva   43970.545627             0
 104 2022-04-01  bbva   40782.451956             0
 105 2022-05-01  bbva   44439.738816             0
 106 2022-06-01  bbva   29359.709637             0
 107 2022-07-01  bbva   49115.263085             0
 108 2022-08-01  bbva   49005.118424             0
 109 2022-09-01  bbva   36922.655663             0
 110 2022-10-01  bbva   44828.372663             0
 111 2022-11-01  bbva   36501.591667             0
 112 2022-12-01  bbva   41612.028869             0
 113 2023-01-01  bbva   35220.993415             0
 114 2023-02-01  bbva   27661.986096             0
 115 2023-03-01  bbva   29553.218455             0
 116 2023-04-01  bbva   26776.530441             0
 117 2023-05-01  bbva   33327.491677             0
 118 2023-06-01  bbva   33102.538359             0
 119 2023-07-01  bbva   40004.973736             0
 120 2023-08-01  bbva   33688.124527             0
 121 2023-09-01  bbva  102540.477521             0
 122 2023-10-01  bbva   26425.576456             0
 123 2023-11-01  bbva   32849.232935             0
 125 2023-12-01  bbva   29659.949637             0,
 'revolut':           date     bank   web_traffic  site_changes
 126 2021-12-01  revolut   1343.418328             0
 127 2022-01-01  revolut   1531.016801             0
 128 2022-02-01  revolut   1304.591257             0
 129 2022-03-01  revolut   1105.180575             0
 130 2022-04-01  revolut   1020.968713             0
 131 2022-05-01  revolut   1648.221365             0
 132 2022-06-01  revolut   1261.183403             0
 133 2022-07-01  revolut   2692.579453             0
 134 2022-08-01  revolut   4602.381164             0
 135 2022-09-01  revolut   9032.796518             1
 136 2022-10-01  revolut   6463.124093             0
 137 2022-11-01  revolut   8429.248465             0
 138 2022-12-01  revolut   5686.426537             0
 139 2023-01-01  revolut   7935.564101             0
 140 2023-02-01  revolut   7681.633005             0
 141 2023-03-01  revolut   6635.917039             0
 142 2023-04-01  revolut   4491.217019             0
 143 2023-05-01  revolut   6999.442780             0
 144 2023-06-01  revolut   5608.260579             0
 145 2023-07-01  revolut   9965.096829             0
 146 2023-08-01  revolut  16445.376611             0
 147 2023-09-01  revolut   9423.148003             0
 148 2023-10-01  revolut   9094.833809             1
 149 2023-11-01  revolut   7857.143495             1
 150 2023-12-01  revolut   8700.515520             0,
 'openbank':           date      bank   web_traffic  site_changes
 151 2021-12-01  openbank  17602.869813             0
 152 2022-01-01  openbank  17602.869813             0
 153 2022-02-01  openbank  17602.869813             0
 154 2022-03-01  openbank  17602.869813             0
 155 2022-04-01  openbank  17602.869813             0
 156 2022-05-01  openbank  13792.995481             0
 157 2022-06-01  openbank  20353.620334             0
 158 2022-07-01  openbank  19534.890990             0
 159 2022-08-01  openbank  20023.208163             0
 160 2022-09-01  openbank  20023.208163             0
 161 2022-10-01  openbank   9169.363117             0
 162 2022-11-01  openbank  11530.562132             0
 163 2022-12-01  openbank  28515.854193             0
 164 2023-01-01  openbank  24494.214875             0
 165 2023-02-01  openbank   6808.164101             0
 166 2023-03-01  openbank  22470.826103             0
 167 2023-04-01  openbank  16055.428830             0
 168 2023-05-01  openbank  20648.962542             0
 169 2023-06-01  openbank  17035.047468             0
 170 2023-07-01  openbank  19151.871484             0
 171 2023-08-01  openbank  11585.968429             0
 172 2023-09-01  openbank   8604.217515             0
 173 2023-10-01  openbank  11373.377132             0
 174 2023-11-01  openbank  10553.927787             0
 175 2023-12-01  openbank  24651.811838             0,
 'myinvestor':           date        bank   web_traffic  site_changes
 176 2021-12-01  myinvestor   5319.608623             0
 177 2022-01-01  myinvestor   6577.851993             0
 178 2022-02-01  myinvestor   4031.716960             0
 179 2022-03-01  myinvestor   4941.009311             0
 180 2022-04-01  myinvestor   5774.734455             0
 181 2022-05-01  myinvestor   4701.676152             0
 182 2022-06-01  myinvestor   3743.697827             0
 183 2022-07-01  myinvestor   8887.531980             0
 184 2022-08-01  myinvestor   6295.460707             0
 185 2022-09-01  myinvestor   6546.830235             0
 186 2022-10-01  myinvestor   7167.531539             0
 187 2022-11-01  myinvestor   6307.812018             0
 188 2022-12-01  myinvestor   7304.328761             0
 189 2023-01-01  myinvestor   8734.948773             0
 190 2023-02-01  myinvestor  19912.767403             0
 191 2023-03-01  myinvestor  17370.946640             0
 192 2023-04-01  myinvestor  11503.598499             0
 193 2023-05-01  myinvestor   8063.714763             0
 194 2023-06-01  myinvestor  11695.078265             0
 195 2023-07-01  myinvestor   9215.536627             0
 196 2023-08-01  myinvestor  10196.614426             0
 197 2023-09-01  myinvestor  15325.244152             0
 198 2023-10-01  myinvestor  13931.765275             0
 199 2023-11-01  myinvestor  12300.920914             0
 200 2023-12-01  myinvestor  13585.142359             0,
 'bankinter':           date       bank   web_traffic  site_changes
 201 2021-12-01  bankinter   8733.560835             0
 202 2022-01-01  bankinter  11410.593443             0
 203 2022-02-01  bankinter   8891.661053             0
 204 2022-03-01  bankinter   7446.925144             0
 205 2022-04-01  bankinter  10285.861726             0
 206 2022-05-01  bankinter   5975.582250             0
 207 2022-06-01  bankinter   7762.845175             0
 208 2022-07-01  bankinter   6762.668091             0
 209 2022-08-01  bankinter   5397.615718             0
 210 2022-09-01  bankinter   8613.556577             0
 211 2022-10-01  bankinter   9038.461163             0
 212 2022-11-01  bankinter  13388.845768             0
 213 2022-12-01  bankinter   6247.419882             0
 214 2023-01-01  bankinter  11173.980089             0
 215 2023-02-01  bankinter  14400.977226             0
 216 2023-03-01  bankinter  15987.257196             0
 217 2023-04-01  bankinter  10308.194759             0
 218 2023-05-01  bankinter  24378.839259             0
 219 2023-06-01  bankinter  10733.464507             0
 220 2023-07-01  bankinter  12473.692112             0
 221 2023-08-01  bankinter  16491.783898             0
 222 2023-09-01  bankinter  14668.724299             0
 223 2023-10-01  bankinter  16023.529140             0
 224 2023-11-01  bankinter  10137.764259             0
 225 2023-12-01  bankinter   8809.659637             0,
 'evobanco':           date      bank   web_traffic  site_changes
 226 2021-12-01  evobanco   5055.542564             0
 227 2022-01-01  evobanco   4539.012047             0
 228 2022-02-01  evobanco   6049.457905             0
 229 2022-03-01  evobanco   9826.193608             0
 230 2022-04-01  evobanco   5028.236254             0
 231 2022-05-01  evobanco   6753.060528             0
 232 2022-06-01  evobanco   5874.300014             0
 233 2022-07-01  evobanco   2726.868297             0
 234 2022-08-01  evobanco   5641.461711             0
 235 2022-09-01  evobanco   4338.912965             0
 236 2022-10-01  evobanco   4082.431652             0
 237 2022-11-01  evobanco   6046.180546             0
 238 2022-12-01  evobanco   4019.240586             0
 239 2023-01-01  evobanco   4322.966697             0
 240 2023-02-01  evobanco   6607.313704             0
 241 2023-03-01  evobanco   4223.384801             0
 242 2023-04-01  evobanco   7512.648132             0
 243 2023-05-01  evobanco   9008.812031             0
 244 2023-06-01  evobanco  12311.578114             0
 245 2023-07-01  evobanco   7533.147002             0
 246 2023-08-01  evobanco   8121.277500             0
 247 2023-09-01  evobanco   9924.854621             0
 248 2023-10-01  evobanco  10604.392062             0
 249 2023-11-01  evobanco   9441.869501             0
 250 2023-12-01  evobanco  10035.281182             0,
 'santander':           date       bank   web_traffic  site_changes
 251 2021-12-01  santander  22325.885971             0
 252 2022-01-01  santander  28331.245044             0
 253 2022-02-01  santander  23798.819170             0
 254 2022-03-01  santander  24808.561729             0
 255 2022-04-01  santander  24739.758729             0
 256 2022-05-01  santander  37041.514189             0
 257 2022-06-01  santander  35471.865599             0
 258 2022-07-01  santander  35951.674830             0
 259 2022-08-01  santander  40746.600434             0
 260 2022-09-01  santander  41933.057915             0
 261 2022-10-01  santander  64291.322324             0
 262 2022-11-01  santander  53373.400895             0
 263 2022-12-01  santander  30042.073994             0
 264 2023-01-01  santander  55681.194402             0
 265 2023-02-01  santander  60995.204258             1
 266 2023-03-01  santander  54901.094016             0
 267 2023-04-01  santander  48906.056025             0
 268 2023-05-01  santander  41976.804617             0
 269 2023-06-01  santander  30059.299367             0
 270 2023-07-01  santander  45095.502771             0
 271 2023-08-01  santander  34290.160425             0
 272 2023-09-01  santander  40388.737821             0
 273 2023-10-01  santander  36636.706633             0
 274 2023-11-01  santander  35387.630139             0
 275 2023-12-01  santander  29101.697517             0}

filling na values

In [60]:
# drop bank_x and bank_y columns
for bank in banks:
    bank_data = bank_data_dict[bank]
    #bank_data = bank_data.drop(columns=['bank_x', 'bank_y'])

    print(bank_data.groupby('bank')['site_changes'].sum())
    bank_data.fillna(0, inplace=True)
    bank_data_dict[bank] = bank_data

bank
abanca    1
Name: site_changes, dtype: int64
bank
n26    1
Name: site_changes, dtype: int64
bank
banc sabadell    1
Name: site_changes, dtype: int64
bank
ing    0
Name: site_changes, dtype: int64
bank
bbva    0
Name: site_changes, dtype: int64
bank
revolut    3
Name: site_changes, dtype: int64
bank
openbank    0
Name: site_changes, dtype: int64
bank
myinvestor    0
Name: site_changes, dtype: int64
bank
bankinter    0
Name: site_changes, dtype: int64
bank
evobanco    0
Name: site_changes, dtype: int64
bank
santander    1
Name: site_changes, dtype: int64

here we create two functions to determine if the event is valid and another to find consecutive dates surrounding the event date

In [61]:
def check_if_valid_event(bank_data, date, buffer, column):
    date_index = bank_data[bank_data.date == date].index[0]
    for i in range(1, buffer + 1):
        prev_date = bank_data.iloc[date_index - i].date
        next_date = bank_data.iloc[date_index + i].date
        prev_apr = bank_data.iloc[date_index - i][column]
        next_apr = bank_data.iloc[date_index + i][column]

        print(f"Checking date: {date}, Buffer-{i}: {prev_date} (APR: {prev_apr}), Buffer+{i}: {next_date} (APR: {next_apr})")
        
        if prev_apr != 0 or next_apr != 0:
            return False

    return True

def find_consecutive_dates(dates, buffer):
    # Calculate the required length of the sequence
    required_length = (buffer * 2) + 1
    
    # Convert dates to a sorted list of pandas Timestamps
    sorted_dates = sorted(pd.to_datetime(dates))
    
    # Iterate through the sorted dates list
    for i in range(len(sorted_dates) - required_length + 1):
        # Extract the sublist of the required length
        sublist = sorted_dates[i:i + required_length]
        
        
        # Check if the sublist is consecutive months
        if all((sublist[j + 1].year * 12 + sublist[j + 1].month) - (sublist[j].year * 12 + sublist[j].month) == 1 for j in range(len(sublist) - 1)):
            return sublist
    
    # If no such sequence is found
    return None

here we run a loop for each bank then find a control date in the 'ing' series which does not alter or change the website

In [62]:


def check_if_valid_event(bank_data, date, buffer, column):
    try:
        date_index = bank_data[bank_data.date == date].index[0]
    except IndexError:
        print(f"Date {date} not found in bank data.")
        return False
    
    for i in range(1, buffer + 1):
        if date_index - i < 0 or date_index + i >= len(bank_data):
            return False
        
        prev_date = bank_data.iloc[date_index - i].date
        next_date = bank_data.iloc[date_index + i].date
        prev_apr = bank_data.iloc[date_index - i][column]
        next_apr = bank_data.iloc[date_index + i][column]

        print(f"Checking date: {date}, Buffer-{i}: {prev_date} (APR: {prev_apr}), Buffer+{i}: {next_date} (APR: {next_apr})")
        
        if prev_apr != 0 or next_apr != 0:
            return False

    return True

def find_consecutive_dates(dates, buffer):
    required_length = (buffer * 2) + 1
    sorted_dates = sorted(pd.to_datetime(dates))

    for i in range(len(sorted_dates) - required_length + 1):
        sublist = sorted_dates[i:i + required_length]
        if all((sublist[j + 1].year * 12 + sublist[j + 1].month) - (sublist[j].year * 12 + sublist[j].month) == 1 for j in range(len(sublist) - 1)):
            return sublist
    
    return None

In [63]:


buffer = 1

all_regressions_site_change = {'regressions': []}

for bank in banks:
    try:
        bank_data = bank_data_dict[bank].copy()
        bank_data['date'] = pd.to_datetime(bank_data['date'])
        bank_data = bank_data.sort_values(by='date').reset_index(drop=True)
        
        site_change_dates = bank_data[bank_data.site_changes > 0]
        
        for date in site_change_dates.date:
            is_valid = check_if_valid_event(bank_data, date, buffer, 'site_changes')
            if is_valid:
                for bank_control in ['ing']:
                    if bank_control != bank:
                        bank_data_control = bank_data_dict[bank_control].copy()
                        bank_data_control['date'] = pd.to_datetime(bank_data_control['date'])
                        bank_data_control = bank_data_control.sort_values(by='date').reset_index(drop=True)
                        
                        control_date = bank_data_control[bank_data_control.date == date]
                        if not control_date.empty and control_date.site_changes.iloc[0] == 0 and check_if_valid_event(bank_data_control, date, buffer, 'site_changes'):
                            viable_control_dates = bank_data_control[(bank_data_control.site_changes == 0) & (bank_data_control.site_changes == 0)].date
                            viable_control_dates = viable_control_dates[viable_control_dates != date]
                            for i in range(1, buffer + 1):
                                viable_control_dates = viable_control_dates[viable_control_dates != date + pd.DateOffset(months=i)]
                                viable_control_dates = viable_control_dates[viable_control_dates != date - pd.DateOffset(months=i)]
                            
                            viable_bank_dates = bank_data[(bank_data.site_changes == 0) & (bank_data.site_changes == 0)].date
                            viable_bank_dates = viable_bank_dates[viable_bank_dates != date]
                            for i in range(1, buffer + 1):
                                viable_bank_dates = viable_bank_dates[viable_bank_dates != date + pd.DateOffset(months=i)]
                                viable_bank_dates = viable_bank_dates[viable_bank_dates != date - pd.DateOffset(months=i)]

                            viable_periods = viable_control_dates[viable_control_dates.isin(viable_bank_dates)]

                            control_period = find_consecutive_dates(viable_periods, buffer)
                            if control_period:
                                event_series = bank_data[(bank_data.date >= date - pd.DateOffset(months=buffer)) & (bank_data.date <= date + pd.DateOffset(months=buffer))]
                                event_control_series = bank_data_control[(bank_data_control.date >= date - pd.DateOffset(months=buffer)) & (bank_data_control.date <= date + pd.DateOffset(months=buffer))]

                                control_event_series = bank_data[(bank_data.date >= control_period[0]) & (bank_data.date <= control_period[-1])]
                                control_series = bank_data_control[(bank_data_control.date >= control_period[0]) & (bank_data_control.date <= control_period[-1])]

                                regression = {
                                    'banks_for_regression': f'{bank} * {bank_control}', 
                                    'bank_of_interest_event_series': event_series, 
                                    'control_bank_event_series': event_control_series, 
                                    'bank_of_interest_non_event_series': control_event_series, 
                                    'control_bank_non_event_series': control_series
                                }
                                all_regressions_site_change['regressions'].append(regression)
                            else:
                                print(f"No valid control period found for bank {bank} and control {bank_control} on date {date}")
    except Exception as e:
        print(f"Error processing bank {bank}: {e}")

all_regressions_site_change

Checking date: 2022-12-01 00:00:00, Buffer-1: 2022-11-01 00:00:00 (APR: 0), Buffer+1: 2023-01-01 00:00:00 (APR: 0)
Checking date: 2022-12-01 00:00:00, Buffer-1: 2022-11-01 00:00:00 (APR: 0), Buffer+1: 2023-01-01 00:00:00 (APR: 0)
Checking date: 2022-11-01 00:00:00, Buffer-1: 2022-10-01 00:00:00 (APR: 0), Buffer+1: 2022-12-01 00:00:00 (APR: 0)
Checking date: 2022-11-01 00:00:00, Buffer-1: 2022-10-01 00:00:00 (APR: 0), Buffer+1: 2022-12-01 00:00:00 (APR: 0)
Checking date: 2023-05-01 00:00:00, Buffer-1: 2023-04-01 00:00:00 (APR: 0), Buffer+1: 2023-06-01 00:00:00 (APR: 0)
Checking date: 2023-05-01 00:00:00, Buffer-1: 2023-04-01 00:00:00 (APR: 0), Buffer+1: 2023-06-01 00:00:00 (APR: 0)
Checking date: 2022-09-01 00:00:00, Buffer-1: 2022-08-01 00:00:00 (APR: 0), Buffer+1: 2022-10-01 00:00:00 (APR: 0)
Checking date: 2022-09-01 00:00:00, Buffer-1: 2022-08-01 00:00:00 (APR: 0), Buffer+1: 2022-10-01 00:00:00 (APR: 0)
Checking date: 2023-10-01 00:00:00, Buffer-1: 2023-09-01 00:00:00 (APR: 0), Buffer+1: 2023-11-01 00:00:00 (APR: 1)
Checking date: 2023-11-01 00:00:00, Buffer-1: 2023-10-01 00:00:00 (APR: 1), Buffer+1: 2023-12-01 00:00:00 (APR: 0)
Checking date: 2023-02-01 00:00:00, Buffer-1: 2023-01-01 00:00:00 (APR: 0), Buffer+1: 2023-03-01 00:00:00 (APR: 0)
Checking date: 2023-02-01 00:00:00, Buffer-1: 2023-01-01 00:00:00 (APR: 0), Buffer+1: 2023-03-01 00:00:00 (APR: 0)

{'regressions': [{'banks_for_regression': 'abanca * ing',
   'bank_of_interest_event_series':          date    bank   web_traffic  site_changes
   11 2022-11-01  abanca  54180.810911             0
   12 2022-12-01  abanca  68183.612577             1
   13 2023-01-01  abanca  72370.734829             0,
   'control_bank_event_series':          date bank   web_traffic  site_changes
   11 2022-11-01  ing  26060.153791             0
   12 2022-12-01  ing  27993.221193             0
   13 2023-01-01  ing  27614.885810             0,
   'bank_of_interest_non_event_series':         date    bank   web_traffic  site_changes
   0 2021-12-01  abanca  15202.983835             0
   1 2022-01-01  abanca  42183.913207             0
   2 2022-02-01  abanca  34498.153115             0,
   'control_bank_non_event_series':         date bank   web_traffic  site_changes
   0 2021-12-01  ing  40358.432576             0
   1 2022-01-01  ing  32371.233465             0
   2 2022-02-01  ing  40358.432576             0},
  {'banks_for_regression': 'n26 * ing',
   'bank_of_interest_event_series':          date bank  web_traffic  site_changes
   10 2022-10-01  n26  7832.405722             0
   11 2022-11-01  n26  8572.818387             1
   12 2022-12-01  n26  7645.014746             0,
   'control_bank_event_series':          date bank   web_traffic  site_changes
   10 2022-10-01  ing  37030.168008             0
   11 2022-11-01  ing  26060.153791             0
   12 2022-12-01  ing  27993.221193             0,
   'bank_of_interest_non_event_series':         date bank  web_traffic  site_changes
   0 2021-12-01  n26  8723.148705             0
   1 2022-01-01  n26  8046.052930             0
   2 2022-02-01  n26  8164.758735             0,
   'control_bank_non_event_series':         date bank   web_traffic  site_changes
   0 2021-12-01  ing  40358.432576             0
   1 2022-01-01  ing  32371.233465             0
   2 2022-02-01  ing  40358.432576             0},
  {'banks_for_regression': 'banc sabadell * ing',
   'bank_of_interest_event_series':          date           bank   web_traffic  site_changes
   16 2023-04-01  banc sabadell  31605.250346             0
   17 2023-05-01  banc sabadell  40352.969007             1
   18 2023-06-01  banc sabadell  35514.734898             0,
   'control_bank_event_series':          date bank   web_traffic  site_changes
   16 2023-04-01  ing  17193.952741             0
   17 2023-05-01  ing  19644.872227             0
   18 2023-06-01  ing  17358.399172             0,
   'bank_of_interest_non_event_series':         date           bank   web_traffic  site_changes
   0 2021-12-01  banc sabadell  20016.553812             0
   1 2022-01-01  banc sabadell  20016.553812             0
   2 2022-02-01  banc sabadell  20016.553812             0,
   'control_bank_non_event_series':         date bank   web_traffic  site_changes
   0 2021-12-01  ing  40358.432576             0
   1 2022-01-01  ing  32371.233465             0
   2 2022-02-01  ing  40358.432576             0},
  {'banks_for_regression': 'revolut * ing',
   'bank_of_interest_event_series':          date     bank  web_traffic  site_changes
   8  2022-08-01  revolut  4602.381164             0
   9  2022-09-01  revolut  9032.796518             1
   10 2022-10-01  revolut  6463.124093             0,
   'control_bank_event_series':          date bank   web_traffic  site_changes
   8  2022-08-01  ing  29944.644102             0
   9  2022-09-01  ing  50772.221050             0
   10 2022-10-01  ing  37030.168008             0,
   'bank_of_interest_non_event_series':         date     bank  web_traffic  site_changes
   0 2021-12-01  revolut  1343.418328             0
   1 2022-01-01  revolut  1531.016801             0
   2 2022-02-01  revolut  1304.591257             0,
   'control_bank_non_event_series':         date bank   web_traffic  site_changes
   0 2021-12-01  ing  40358.432576             0
   1 2022-01-01  ing  32371.233465             0
   2 2022-02-01  ing  40358.432576             0},
  {'banks_for_regression': 'santander * ing',
   'bank_of_interest_event_series':          date       bank   web_traffic  site_changes
   13 2023-01-01  santander  55681.194402             0
   14 2023-02-01  santander  60995.204258             1
   15 2023-03-01  santander  54901.094016             0,
   'control_bank_event_series':          date bank   web_traffic  site_changes
   13 2023-01-01  ing  27614.885810             0
   14 2023-02-01  ing  26023.707737             0
   15 2023-03-01  ing  20935.685509             0,
   'bank_of_interest_non_event_series':         date       bank   web_traffic  site_changes
   0 2021-12-01  santander  22325.885971             0
   1 2022-01-01  santander  28331.245044             0
   2 2022-02-01  santander  23798.819170             0,
   'control_bank_non_event_series':         date bank   web_traffic  site_changes
   0 2021-12-01  ing  40358.432576             0
   1 2022-01-01  ing  32371.233465             0
   2 2022-02-01  ing  40358.432576             0}]}

define a function to get the relevant data from the statsmodel output into a dataframe

In [64]:
def extract_data_from_sm(model):
    model_dict = {}

    # Extracting coefficients
    coefficients = model.params
    model_dict['coefficients'] = coefficients

    # Extracting standard errors of coefficients
    std_errors = model.bse
    model_dict['standard_errors'] = std_errors

    # Extracting t-values
    t_values = model.tvalues
    model_dict['t_values'] = t_values

    # Extracting p-values
    p_values = model.pvalues
    model_dict['p_values'] = p_values

    # Extracting R-squared
    r_squared = model.rsquared
    model_dict['r_squared'] = r_squared

    return pd.DataFrame(model_dict)

define a function to get control and event periods for each bank out of the dictionary and into a dataframe that be regressed 

also creates the interation terms for the regression

In [65]:
def get_regression_summary(regression): 
    # Extract the DataFrames
    bank_of_interest_event_series = regression['bank_of_interest_event_series']
    control_bank_event_series = regression['control_bank_event_series']
    bank_of_interest_non_event_series = regression['bank_of_interest_non_event_series']
    control_bank_non_event_series = regression['control_bank_non_event_series']

    # Add a 'type' and 'period' columns to each DataFrame
    bank_of_interest_event_series['type'] = 'bank_of_interest_event'
    control_bank_event_series['type'] = 'control_bank_event'
    bank_of_interest_non_event_series['type'] = 'bank_of_interest_non_event'
    control_bank_non_event_series['type'] = 'control_bank_non_event'

    bank_of_interest_event_series['period'] = 'post'
    control_bank_event_series['period'] = 'post'
    bank_of_interest_non_event_series['period'] = 'pre'
    control_bank_non_event_series['period'] = 'pre'

    # Combine the series into a single DataFrame
    combined_df = pd.concat([
        bank_of_interest_event_series,
        control_bank_event_series,
        bank_of_interest_non_event_series,
        control_bank_non_event_series
    ])

    # Reset index to avoid duplicate indices
    combined_df.reset_index(drop=True, inplace=True)

    # Create dummy variables
    combined_df['treatment'] = combined_df['type'].apply(lambda x: 1 if x in ['bank_of_interest_event', 'bank_of_interest_non_event'] else 0)
    combined_df['post'] = combined_df['period'].apply(lambda x: 1 if x == 'post' else 0)

    # Interaction term: treatment * post
    combined_df['treatment_post'] = combined_df['treatment'] * combined_df['post']

    # Dependent variable
    y = combined_df['web_traffic']

    # Independent variables
    X = combined_df[['treatment', 'post', 'treatment_post']]
    X = sm.add_constant(X)

    # Fit the model
    model = sm.OLS(y, X).fit()

    # Get the summary of the regression
    summary = extract_data_from_sm(model)
    summary['output_title'] = regression['banks_for_regression']
    summary['date_of_event'] = bank_of_interest_event_series.date.median()

    return summary

### get regrssion outputs for each regression for site changes

In [66]:
all_regression_outputs = []

for regression in all_regressions_site_change['regressions']:
    if len(regression.keys()) > 0:
        summary = get_regression_summary(regression)
        all_regression_outputs.append(summary)
    else: 
        print('No valid regressions found')
        print(regression)

/var/folders/d4/rcb0hfcs0bzgr7z0mw72lc_w0000gn/T/ipykernel_34317/4120071802.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bank_of_interest_event_series['type'] = 'bank_of_interest_event'
/var/folders/d4/rcb0hfcs0bzgr7z0mw72lc_w0000gn/T/ipykernel_34317/4120071802.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  control_bank_event_series['type'] = 'control_bank_event'
/var/folders/d4/rcb0hfcs0bzgr7z0mw72lc_w0000gn/T/ipykernel_34317/4120071802.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bank_of_interest_non_event_series['type'] = 'bank_of_interest_non_event'
/var/folders/d4/rcb0hfcs0bzgr7z0mw72lc_w0000gn/T/ipykernel_34317/4120071802.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  control_bank_non_event_series['type'] = 'control_bank_non_event'
/var/folders/d4/rcb0hfcs0bzgr7z0mw72lc_w0000gn/T/ipykernel_34317/4120071802.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bank_of_interest_event_series['period'] = 'post'
/var/folders/d4/rcb0hfcs0bzgr7z0mw72lc_w0000gn/T/ipykernel_34317/4120071802.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  control_bank_event_series['period'] = 'post'
/var/folders/d4/rcb0hfcs0bzgr7z0mw72lc_w0000gn/T/ipykernel_34317/4120071802.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bank_of_interest_non_event_series['period'] = 'pre'
/var/folders/d4/rcb0hfcs0bzgr7z0mw72lc_w0000gn/T/ipykernel_34317/4120071802.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  control_bank_non_event_series['period'] = 'pre'

visualize the regression outputs for each bank

In [67]:
all_incentive_diff_n_diff = pd.concat(all_regression_outputs)

# create a column from the index 
all_incentive_diff_n_diff['variable_name'] = all_incentive_diff_n_diff.index

all_incentive_diff_n_diff = all_incentive_diff_n_diff.reset_index(drop=True)

all_incentive_diff_n_diff

,coefficients,standard_errors,t_values,p_values,r_squared,output_title,date_of_event,variable_name
0,37696.032872,5052.112558,7.461440,7.185887e-05,0.811131,abanca * ing,2022-12-01,const
1,-7067.682820,7144.766097,-0.989211,3.515312e-01,0.811131,abanca * ing,2022-12-01,treatment
2,-10473.279274,7144.766097,-1.465867,1.808540e-01,0.811131,abanca * ing,2022-12-01,post
3,44756.648661,10104.225115,4.429498,2.198477e-03,0.811131,abanca * ing,2022-12-01,treatment_post
4,37696.032872,2158.843452,17.461216,1.180645e-07,0.949148,n26 * ing,2022-11-01,const
5,-29384.712749,3053.065688,-9.624658,1.128594e-05,0.949148,n26 * ing,2022-11-01,treatment
6,-7334.851875,3053.065688,-2.402455,4.301165e-02,0.949148,n26 * ing,2022-11-01,post
7,7040.278037,4317.686903,1.630567,1.416283e-01,0.949148,n26 * ing,2022-11-01,treatment_post
8,37696.032872,1878.488857,20.067211,3.967904e-08,0.918375,banc sabadell * ing,2023-05-01,const
9,-17679.479060,2656.584418,-6.654966,1.599819e-04,0.918375,banc sabadell * ing,2023-05-01,treatment
10,-19630.291493,2656.584418,-7.389297,7.697999e-05,0.918375,banc sabadell * ing,2023-05-01,post
11,35438.055764,3756.977714,9.432597,1.310564e-05,0.918375,banc sabadell * ing,2023-05-01,treatment_post
12,37696.032872,3395.686524,11.101152,3.871559e-06,0.928641,revolut * ing,2022-09-01,const
13,-36303.024077,4802.225936,-7.559624,6.548606e-05,0.928641,revolut * ing,2022-09-01,treatment
14,1552.978181,4802.225936,0.323387,7.546936e-01,0.928641,revolut * ing,2022-09-01,post
15,3753.446949,6791.373048,0.552679,5.955841e-01,0.928641,revolut * ing,2022-09-01,treatment_post
16,37696.032872,2125.847625,17.732237,1.046696e-07,0.950960,santander * ing,2023-02-01,const
17,-12877.382811,3006.402543,-4.283320,2.675452e-03,0.950960,santander * ing,2023-02-01,treatment
18,-12837.939854,3006.402543,-4.270200,2.723440e-03,0.950960,santander * ing,2023-02-01,post
19,45211.787351,4251.695250,10.633826,5.355091e-06,0.950960,santander * ing,2023-02-01,treatment_post

get average statistics

In [68]:
print(all_incentive_diff_n_diff.coefficients.mean())
print(all_incentive_diff_n_diff.p_values.mean())

8632.235764564957
0.10376541776179611

view pertinent statistics

In [69]:
all_incentive_diff_n_diff.loc[all_incentive_diff_n_diff.variable_name == 'treatment_post', ['coefficients','p_values', 'output_title']]

    coefficients  p_values         output_title
3   44756.648661  0.002198         abanca * ing
7    7040.278037  0.141628            n26 * ing
11  35438.055764  0.000013  banc sabadell * ing
15   3753.446949  0.595584        revolut * ing
19  45211.787351  0.000005      santander * ing